.modal-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  color: var(--color-dark-text);
  background-color: var(--color-white);
  border-radius: 8px;
  padding: 30px;
}

.modal-box img {
  width: 100%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.modal-header h1 {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.modal-header button {
  background: none;
  border: none;
  align-self: center;
  color: var(--color-dark-text);
}

.modal-header button:hover {
  cursor: pointer;
}

/* MEDIA FOR SMALL DEVICES */
@media screen and (max-width: 500px) {
  .modal-box {
    height: 100%;
    width: 100%;
  }

  .modal-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5rem;
  }

  .modal-box img {
    width: 90%;
  }

  .modal-header button {
    position: absolute;
    bottom: 5rem;
  }
}
