.header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 1rem;
  max-width: 40rem;
  margin-top: 2rem;
  border-radius: 1rem;
  border: 0.1875rem solid var(--color-header-outline);
}

.header .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 2rem;
}

.score-box {
  padding: 0.75rem 2.5rem;
  border-radius: 5px;
  background-color: var(--color-white);
  color: var(--color-score-text);
}

.score {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--color-dark-text);
}

/* MEDIA FOR SMALL DEVICES */
@media screen and (max-width: 45rem) {
  .header {
    border-radius: 0.5rem;
  }

  .header .text {
    font-size: 1.7rem;
    line-height: 1.4rem;
  }

  .score-box {
    padding: 0.15rem 1.8rem;
  }

  .score {
    font-size: 3rem;
  }
}
