.header {
  display: flex;
  border: 0.1875rem solid var(--color-header-outline);
  max-width: 43.75rem;
  width: 100%;
  margin-top: 2rem;
  border-radius: 1rem;
  padding: 1rem;
  justify-content: space-between;
}

.header .text {
  font-size: 2.5rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 2rem;
}

.score-box {
  padding: 0.75rem 2.5rem;
  background-color: var(--color-white);
  color: var(--color-score-text);
  border-radius: 5px;
}

.score {
  color: var(--color-dark-text);
  font-size: 3.5rem;
  font-weight: 700;
}
