@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-bg: #1f3756;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --color-scissors: #ec9e0e;
  --color-paper: #4865f4;
  --color-rock: #dc2e4e;

  --color-darken-scissors: #c9860c;
  --color-darken-paper: #1b3ff1;
  --color-darken-rock: #c2203e;

  --color-dark-text: #3b4363;
  --color-score-text: #2a46c0;
  --color-header-outline: #606e85;
  --color-header-outline-lighten: #7c8aa0;

  --url-image-paper: url("/src/assets/icon-paper.svg");
  --url-image-rock: url("/src/assets/icon-rock.svg");
  --url-image-scissors: url("/src/assets/icon-scissors.svg");
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  box-sizing: border-box;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER */
.header {
  display: flex;
  border: 0.1875rem solid var(--color-header-outline);
  max-width: 43.75rem;
  width: 100%;
  margin-top: 1.875rem;
  border-radius: 1rem;
  padding: 1.25rem;
  justify-content: space-between;
}

.header .text {
  font-size: 2.5rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 2rem;
}

.score-box {
  padding: 0.75rem 2.5rem;
  background-color: var(--color-white);
  color: var(--color-score-text);
  border-radius: 5px;
}

.score {
  color: var(--color-dark-text);
  font-size: 3.5rem;
  font-weight: 700;
}

/* PLAY */
.play {
  width: 100%;
  position: relative;
  margin-top: 3.125rem;
  display: flex;
  flex-direction: column;
}

.triangle {
  position: absolute;
  align-self: center;
  margin-top: 4.375rem;
}

.items {
  display: flex;
  justify-content: center;
}

.play .icon {
  height: 10rem;
  width: 10rem;
  border: 1.125rem solid;
  border-radius: 50%;
  background-color: var(--color-white);
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0.3125rem 0.3125rem grey;
}

.play .icon-paper {
  background-image: var(--url-image-paper);
  border-color: var(--color-paper);
  transform: translateX(1.5rem);
}

.play .icon-paper:hover {
  transform: translateX(1.5rem) scale(1.1);
}

.play .icon-rock {
  background-image: var(--url-image-rock);
  border-color: var(--color-rock);
  transform: translateX(-10rem) translateY(13rem);
}

.play .icon-rock:hover {
  transform: translateX(-10rem) translateY(13rem) scale(1.1);
}

.play .icon-scissors {
  background-image: var(--url-image-scissors);
  border-color: var(--color-scissors);
  transform: translateX(8rem);
}

.play .icon-scissors:hover {
  transform: translateX(8rem) scale(1.1);
}

/* GAME */
.game {
  display: flex;
  margin-top: 50px;
  flex-wrap: nowrap;
  align-items: center;
}

.game-user {
  display: flex;
  flex-direction: column;
  margin-right: 2.5rem;
}

.game-computer {
  display: flex;
  flex-direction: column;
  margin-left: 2.5rem;
}

.game-text {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 2.5rem;
}

.game-icon {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border-color: transparent;
  border: 25px solid;
  background-size: 50%;
  background-color: var(--color-white);
  background-position: center;
  background-repeat: no-repeat;
}

.game-icon-paper {
  background-image: var(--url-image-paper);
  border-color: var(--color-paper);
  box-shadow: inset 0 0.3125rem 0.3125rem grey,
    0px 8px var(--color-darken-paper);
}

.game-icon-rock {
  background-image: var(--url-image-rock);
  border-color: var(--color-rock);
  box-shadow: inset 0 0.3125rem 0.3125rem grey, 0px 8px var(--color-darken-rock);
}

.game-icon-scissors {
  background-image: var(--url-image-scissors);
  border-color: var(--color-scissors);
  box-shadow: inset 0 0.3125rem 0.3125rem grey,
    0px 8px var(--color-darken-scissors);
}

.icon-winner-paper {
  box-shadow: inset 0 0.3125rem 0.3125rem grey,
    0px 8px var(--color-darken-paper),
    0px 0px 0px 50px rgba(255, 255, 255, 0.07),
    0px 0px 0px 100px rgba(255, 255, 255, 0.05),
    0px 0px 0px 150px rgba(255, 255, 255, 0.025);
}

.icon-winner-rock {
  box-shadow: inset 0 0.3125rem 0.3125rem grey, 0px 8px var(--color-darken-rock),
    0px 0px 0px 50px rgba(255, 255, 255, 0.07),
    0px 0px 0px 100px rgba(255, 255, 255, 0.05),
    0px 0px 0px 150px rgba(255, 255, 255, 0.025);
}

.icon-winner-scissors {
  box-shadow: inset 0 0.3125rem 0.3125rem grey,
    0px 8px var(--color-darken-scissors),
    0px 0px 0px 50px rgba(255, 255, 255, 0.07),
    0px 0px 0px 100px rgba(255, 255, 255, 0.05),
    0px 0px 0px 150px rgba(255, 255, 255, 0.025);
}

.game-play {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  transition: color 0.2s;
}

.game-play-text {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.play-again {
  background-color: var(--color-white);
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 0.8rem;
}

.play-again:hover {
  color: red;
}

.counter {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 8rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* FOOTER */
.footer {
  width: 100vw;
}

.rules {
  position: absolute;
  bottom: 1rem;
  padding: 7px 25px;
  right: 1rem;
  border-radius: 0.4rem;
  border: 3px solid var(--color-header-outline);
  color: var(--color-header-outline-lighten);
  background: none;
  font-weight: 600;
  letter-spacing: 2px;
}

.rules:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--color-dark-text);
  cursor: pointer;
}

.footer a {
  color: var(--color-header-outline-lighten);
}

/* MODAL */
.modal-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  color: var(--color-dark-text);
  background-color: var(--color-white);
  border-radius: 8px;
  padding: 30px;
}

.modal-box img {
  width: 100%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.modal-header h1 {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.modal-header button {
  background: none;
  border: none;
  align-self: center;
  color: var(--color-dark-text);
}

.modal-header button:hover {
  cursor: pointer;
}
