@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-bg: #1f3756;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --color-scissors: #ec9e0e;
  --color-paper: #4865f4;
  --color-rock: #dc2e4e;

  --color-dark-text: #3b4363;
  --color-score-text: #2a46c0;
  --color-header-outline: #606e85;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  box-sizing: border-box;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER */
.header {
  display: flex;
  border: 3px solid var(--color-header-outline);
  max-width: 43.75rem;
  width: 100%;
  margin-top: 1.875rem;
  border-radius: 1rem;
  padding: 1.25rem;
  justify-content: space-between;
}

.header .text {
  font-size: 2.5rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 2rem;
}

.header .score-box {
  padding: 0.75rem 2.5rem;
  background-color: var(--color-white);
  color: var(--color-score-text);
  border-radius: 5px;
}

.header .score-box .score {
  color: var(--color-dark-text);
  font-size: 3.5rem;
  font-weight: 700;
}
