.play {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 3rem;
  width: 90%;
}

.triangle {
  position: absolute;
  align-self: center;
  margin-top: 4.375rem;
}

.items {
  display: flex;
  justify-content: center;
}

.items a {
  pointer-events: none;
  cursor: default;
}

.play .icon {
  pointer-events: all;
  cursor: pointer;
  height: 10rem;
  width: 10rem;
  border: 1.125rem solid;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--color-white);
}

.play .icon-paper {
  transform: translateX(1.5rem);
  border-color: var(--color-paper);
  background-image: var(--url-image-paper);
  box-shadow: inset 0 0.3125rem 0.3125rem grey,
    0px 8px var(--color-darken-paper);
}

.play .icon-paper:hover {
  transform: translateX(1.5rem) scale(1.1);
}

.play .icon-rock {
  border-color: var(--color-rock);
  background-image: var(--url-image-rock);
  transform: translateX(-10rem) translateY(13rem);
  box-shadow: inset 0 0.3125rem 0.3125rem grey, 0px 8px var(--color-darken-rock);
}

.play .icon-rock:hover {
  transform: translateX(-10rem) translateY(13rem) scale(1.1);
}

.play .icon-scissors {
  transform: translateX(8rem);
  border-color: var(--color-scissors);
  background-image: var(--url-image-scissors);
  box-shadow: inset 0 0.3125rem 0.3125rem grey,
    0px 8px var(--color-darken-scissors);
}

.play .icon-scissors:hover {
  transform: translateX(8rem) scale(1.1);
}

/* MEDIA FOR SMALL DEVICES */
@media screen and (max-width: 720px) {
  .triangle {
    position: absolute;
    align-self: center;
    margin-top: 4rem;
    height: 15rem;
  }

  .play .icon {
    height: 9rem;
    width: 9rem;
    border: 1rem solid;
  }

  .play .icon-paper {
    border-color: var(--color-paper);
    transform: translateX(4rem);
  }

  .play .icon-rock {
    border-color: var(--color-rock);
    transform: translateX(-9rem) translateY(10rem);
  }

  .play .icon-scissors {
    border-color: var(--color-scissors);
    transform: translateX(6rem);
  }
}
